<div class="container">
  <div class="row">
    <div class="col-6">
      <div class=" card card-info">
        <div class="card-header">
          Angular Element
        </div>
        <div class="card-body">
          <h3>Hello {{ name || "World"}}</h3>
          <div class="alert alert-warning"> Lorem, ipsum dolor sit amet consectetur
            adipisicing elit. Quam, dolorum tempora?
            Repellat minima, animi ab
            impedit reiciendis vitae magnam ipsa et, delectus recusandae commodi labore quasi incidunt quod
            reprehenderit! Eligendi!</div>
        </div>
        <div class="card-footer">
          <button class="btn btn-success float-right" (click)="onClick()">Show Message</button>
        </div>
      </div>
    </div>
    <div class="col-6">
      <form [formGroup]="employeeForm" (ngSubmit)="onEmployeeFormSubmit()">
        <div class="card">
          <div class="card-header">
            Employee Form
          </div>
          <div class="card-body">
            <div class="form-group">
              <label for="firstname" class="form-label">First Name</label>
              <input type="firstname" class="form-control" formControlName="firstname">
              <div class="alert alert-danger" *ngIf="firstName.invalid && (firstName.touched || firstName.dirty)">
                First name is required
              </div>
            </div>
            <div class="form-group">
              <label for="lastname" class="form-label">Last Name</label>
              <input type="lastname" class="form-control" formControlName="lastname">
              <div class="alert alert-danger" *ngIf="lastName.invalid && (lastName.touched || lastName.dirty)">
                Last name is required
              </div>
            </div>
          </div>
          <div class="card-footer">
            <button type="submit" [disabled]="employeeForm.invalid" class="btn btn-primary float-right">Submit</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
